* {
    margin: 0;
    padding: 0;
}

:root {
    --light-color: rgb(131 106 34);
    --main-color: rgb(99 78 21);
    --yellow: rgb(255 204 56);
    --gray-yellow: rgb(203 161 39);
}

body {
    background-color: var(--main-color);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;
    margin: 50px 0;
    justify-content: center;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 80%;
}

#element {
    color: var(--yellow);
}

.buttons {
    margin: 0 14px;
}

.buttons .btn {
    background-color: var(--light-color);
    border: 2px solid white;
    color: white;
    padding: 13px;
    font-size: 1.3rem;
    border-radius: 13px;
}

main hr {
    border: 0;
    background: var(--light-color);
    height: 1.2px;
    margin: 40px 84px;
}

.secondSection {
    margin: auto;
    padding-left: 100px;
}

.secondSection h1 {
    font-size: 1.9rem;
    margin: auto auto 25px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills {
    background-color: var(--light-color);
    width: 576px;
    padding: 32px;
    border-radius: 25px;
    margin: 20px;
    cursor: pointer;
}

.skills:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    transition: all 0.5s;
}










/* -----------------------footer */
footer {
    background-color: rgb(18, 18, 62);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.footer ul {
    list-style: none;
}

.footer-title {
    font-size: 2rem;
}

.footer-rights {
    background-color: rgb(3, 3, 38);
    justify-content: center;
    display: flex;
    padding: 12px;
}