#nav {
    display: flex;
    align-items: center;
    background-color: green;
    justify-content: right;
    position: fixed;
    width: 100vw;
    font-size: 31px;
    height: 83px;
    top: 0;
    z-index: 4;
}
#nav ul li {
    display: inline;
    padding: 23px;
}
#nav li:hover{
    background-color: rgb(77, 62, 41);
    /* font-size: 25px; */
}
#nav ul li a {
    text-decoration: none;
    color: white;
}