.BodyOfLast{
    display: flex;
}

.Last h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.Youtube-Video{
    display: flex;
    justify-content: center;
}

.Last iframe{
    width: 70%;
    height: 50vh;
    margin-bottom: 25px;
}

.Last-Paragraph{
    margin-left: 45px;
}

.Last-Paragraph h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #18407c;
}

.Curriculum-Content{
    display: flex;
}

.CurContent{
    width: 90%;
    margin-left: 25px;
    margin-bottom: 25px;
}

.Curriculum-Content img{
    width: 250px;
    height: 200px;
}

.side-menu{
    color: #3f3c3c;
    border: solid 1px #a0a0a0;
    margin-left: 23px;
    width: 1750px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    /* padding-left: 23px; */
    padding-top: 23px;
}

/* .side-menu a{
    background-color: #e2d9d9;
} */

.side-menu h4{
    color: #18407c;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 23px;
}

.side-menu ul li{
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 23px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.side-menu ul a{
    color: #524b4b;
}

.side-menu ul a:hover{
    transform: 1s;
    color: #18407c;
}

.Academics-Content-Image{
    display: flex;
    justify-content: center;
}

.Academics-Content-Image img{
    width: 560px;
    height: 345px;
}

.Academics-Content-Paragraph{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    margin-top: 25px;
}

.Academics-Option h1{
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.Last-important-links ul li:hover{
    background-color: #faf0f0;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}

#UnderBackground{
    background-color: #d1caca;
    border-radius: 7px;
    color: black;
}

#UnderBackground:hover{
    background-color: #d1caca;
    border-radius: 7px;
    color: black;
}

#Short-menu{
    width: 1430px;
}

.Academics-Option h4{
    color: #18407c;
    margin-left: 23px;
    margin-top: 23px;
    margin-bottom: 23px;
    font-size: 25px;
}

.paragraph{
    margin-left: 43px;
    margin-right: 43px;
}